####################################################################################################
# +----------------------------------------------------------------------------------------------+ #
# |                  ___    _       _       _          _     _     _           _                 | #
# |                 / _ \  | |__   | |__   (_)   ___  | |_  | |_  (_) __   __ (_)                | #
# |                | | | | | '_ \  | '_ \  | |  / _ \ | __| | __| | | \ \ / / | |                | #
# |                | |_| | | |_) | | |_) | | | |  __/ | |_  | |_  | |  \ V /  | |                | #
# |                 \___/  |_.__/  |_.__/  |_|  \___|  \__|  \__| |_|   \_/   |_|                | #
# |                                                                                              | #
# |                                   Made by: Markus__27                                        | #
# |                                                                                              | #
# |  SOURCE CODE: https://github.com/ForgottenWorld/FWObbiettivi                                 | #
# |                                                                                              | #
# +----------------------------------------------------------------------------------------------+ #
####################################################################################################
# DEBUG MODE
debug: false

# Enter the name of the world on which the plugin should work.
world: world

# Chunk property
# Enable a protection against building and breaking blocks.
# Enable the ability to have multiple goals on the same chunk.
chunk:
  protection: false
  multiGoal: true
  max: 3

### Treasury
treasury:
  name: "Tesoreria"
  plot: 1

### Bonus maintenance
# Enter the name of the relative objective as the plot name
# while as a value, the percentage value of the reduction in maintenance
mantenimentoBonus:
  plotNames:
    Tesoreria: 10.0
    obTest: 10.0

### Exemptions from bonus maintenance
# list of town names exempt from goal bonuses
# there must be a town already present
exemprionBonus:
  - Spes

### Blocks allowed
# List of blocks allowed to be placed or removed in a goal chunk
allowedBlocks:
  - OAK_SIGN

# Select your language
languages:
  default: "it_IT"
  it_IT:
    gui:
      goals_inventory_title: "Obbiettivi Cittadini"
      goals_new_item_name: "Aggiungi"
      goals_new_item_list:
        - Usa questo menu per creare un nuovo
        - obbiettivo.
      goals_edit_item_name: "Modifica"
      goals_edit_item_list:
        - Usa questo menu per modificare
        - gli oggetti di un obbiettivo.
      goals_delete_item_name: "Elimina"
      goals_delete_item_list:
        - Usa questo menu per eliminare un
        - obbiettivo.
      goals_branch_item_name: "Menu Rami"
      goals_branch_item_list:
        - Usa questo menu per visualizzare il
        - menu gastionale relativo ai rami.
      goals_close_item_name: "Chiudi"
      goals_close_item_list:
        - Chiude questo menu.
      branch_inventory_title: "Rami Obbiettivi"
      branch_new_item_name: "Aggiungi"
      branch_new_item_list:
        - Usa questo menu per creare un nuovo ramo
        - di obbiettivi.
      branch_delete_item_name: "Elimina"
      branch_delete_item_list:
        - Usa questo menu per eliminare un
        - ramo di obbiettivi presente.
      branch_back_item_name: "Torna indietro"
      branch_back_item_list:
        - Va alla pagina precedente.
      branch_list_inventory_title: "Lista Rami"
      branch_list_back_item_name: "Torna indietro"
      branch_list_back_item_list:
        - Va alla pagina precedente.
      goals_list_inventory_title: "Lista Obbiettivi in Ramo"
      goals_list_back_item_name: "Torna indietro"
      goals_list_back_item_list:
        - Va alla pagina precedente.
      goals_required_obj_item_name: "Oggetti richiesti"
      goals_required_obj_item_list:
        - Dentro questo menu ci sono gli oggetti richiesti
        - per poter attivare l'obbiettivo.
      goals_payment_obj_item_name: "Pagamento richiesto"
      goals_payment_obj_item_list:
        - Dentro questo menu ci sono gli oggetti necessari
        - per ricevere le ricompense.
      goals_reward_obj_item_name: "Ricompensa"
      goals_reward_obj_item_list:
        - Dentro questo menu ci sono gli oggetti che una
        - volta eseguito il comando pay vengono rilasciati
        - agli obbiettivi.
      goals_info_back_item_name: "Torna indietro"
      goals_info_back_item_list:
       - Va alla pagina precedente.
    no_console: "Questo comando puo' essere eseguito solo da un player!"
    no_perm: "Non possiedi i permessi necessari per eseguire questo comando."
    config_reload: "Ricaricato file di configurazione."
    no_town_loc: "Non sei sul suolo di una citta'."
    no_goal: "Non hai specificato nessun obbiettivo."
    no_goal_in_list: "L'obbiettivo non esiste:"
    no_chest: "Devi guardare una CHEST."
    no_chest_found: "Non e' stato possibile trovare nessuna CHEST."
    no_single_chest: "La CHEST deve essere doppia."
    no_double_chest: "La CHEST deve essere singola."
    no_goal_loc: "Non sei sul plot di un obbiettivo."
    no_place_near_goal: "Non puoi piazzare una CHEST vicino una FWChest."
    no_break_goal: "Non puoi rompere una FWChest."
    no_existing_file_data: "Il file di salvataggio non esiste."
    no_place_in_goal: "Non puoi piazzare blocchi in un obbiettivo attivo."
    no_break_in_goal: "Non puoi rompere blocchi in un obbiettivo attivo."
    chunk_not_found: "Impossibile trovare il chunk"
    abort_add_goal: "Player disconnesso, aggiunta obbiettivo rimossa."
    goal_unclaim_removed_abort: "Obbiettivo non rimosso per unclaim azione negata:"
    goal_already_present: "L'obbiettivo e' gia' presente in questa citta'."
    goal_already_present_here: "L'obbiettivo e' gia' presente in questa FWChest."
    goal_added: "Obbiettivo aggiunto con successo:"
    goal_removed: "Obbiettivo rimosso con successo:"
    teleported_to: "Sei stato teletrasportato all'obbiettivo:"
    err_syntax: "Non hai inserito correttamente il comando."
    teleported_failed: "Teletrasporto non riuscito, assicurati che esista l'obbiettivo e/o la citta'."
    disable_failed: "Disattivazione non riuscita, assicurati che esista l'obbiettivo e/o la citta'."
    enable_failed: "Abilitazione non riuscita, assicurati che esista l'obbiettivo e/o la citta'."
    enable_goal: "Obbiettivo abilitato:"
    disable_goal: "Obbiettivo disattivato:"
    goal_not_paid: "Obbiettivo non pagato:"
    goal_paid: "Obbiettivo pagato:"
    goal_is_disable: "Questo obbiettivo e' disattivato:"
    goals_list: "Lista degli obbiettivi presenti:"
    goals_plot_needed: "Chunk claimati per l'obbiettivo:"
    goals_plot_not_near: "Il plot selezionato non e' vicino all'obbiettivo."
    goals_plot_already_set: "In questo chunk e' presente un obbiettivo:"
    goals_present: "Obbiettivi presenti in questo chunk:"
    treasury_list: "Lista delle tesorerie presenti:"
    treasury_already_present: "La tesoreria e' gia' presente in questa citta'."
    treasury_added: "Tesoreria aggiunta con successo citta':"
    treasury_removed: "Tesoreria rimossa con successo citta':"
    treasury_plot_needed: "Chunk claimati per la tesoreria:"
    not_same_loc: "La CHEST e' tra due plot differenti."
    treasury_unclaim_removed_abort: "Tesoreria non rimossa per unclaim azione negata:"
    treasury_plot_already_set: "In questo chunk e' presente una tesoreria."
    treasury_removed_abort: "Impossibile rimuovere la tesoreria, esistono ancora degli obbiettivi."
    no_father_goal: "Obbiettivo padre non trovato:"
    no_treasury: "Tesoreria non trovata."
    no_request_object: "Non sono presenti gli oggetti necessari in tesoreria."
    no_town_found: "Assicurati di aver inserito la citta' corretta."
    file_not_created: "File di salvataggio non creato:"
    file_created: "File di salvataggio creato con successo:"
    file_not_saved: "Impossibile salvare file di salvataggio:"
    file_saved: "File di salvataggio salvato:"
    file_reloaded: "File di salvataggio ricaricato:"
    max_goal_in_chunk: "Numero massimo di obbietivi raggiunto per questo plot."
    not_enough_money: "Denaro non sufficiente nella banca cittadina di:"
    town_money_withdrawn: "Denaro prelevato con successo."
    town_objects_withdrawn: "Oggetti prelevati con successo."
    goal_remove_failed: "Non puoi rimuovere questo obbiettivo."
    goal_already_exist: "Esiste gia' un obbiettivo con questo nome."
    branch_already_exist: "Esiste gia' un ramo con questo nome."
    branch_not_exist: "Non esiste un ramo con questo nome."
    branch_removed: "Ramo rimosso con successo:"
    branch_added: "Ramo creato con successo:"
    branch_not_empty: "Questo ramo ha degli obbiettivi."
    no_town_or_goal_found: "Assicurati di aver inserito la citta' o l'obbiettivo correttamente."
    no_zero_allow: "Inserisci un numero diverso da 0."
    goal_not_exist: "Non esiste un obbiettivo con questo nome."
    goal_in_use: "L'obbiettivo è utilizzato in qualche citta'."
    goal_deleted: "Obbiettivo eliminato:"
    towns_with_goal: "Citta' che hanno l'obbiettivo:"
    goals_in_town: "Obbiettivi preenti nella citta':"
    cmds:
      gui_cmd_description: "Apre la GUI di gestione."
      help_cmd_description: "Mostra questa lista."
      reload_cmd_description: "Ricarica il config.yml."
      branch:
        create_cmd_description: "Crea un nuovo ramo."
        delete_cmd_description: "Elimina un ramo."
        help_cmd_description: "Mostra questa lista."
      goal:
        add_cmd_description: "Aggiunge un obbiettivo a una Town."
        create_cmd_description: "Crea un nuovo obbiettivo."
        chunk_cmd_description: "???."
        delete_cmd_description: "Elimina un obbiettivo."
        disable_cmd_description: "Disattiva un obbiettivo."
        edit_cmd_description: "Modifica un obbiettivo."
        enable_cmd_description: "Abilita un obbiettivo."
        help_cmd_description: "Mostra questa lista."
        info_cmd_description: "Mostra le informazioni relative a un obbiettivo."
        list_cmd_description: "Mostra una lista di tutti gli obbiettivi presenti."
        pay_cmd_description: "Paga tutti gli obbiettivi abilitati, con limitazioni in base alle specifiche facoltative."
        remove_cmd_description: "Rimuove un obbiettivi a una Town."
        show_cmd_description: "Mostra gli obbiettivi o le città in base al parametro inserito."
        status_cmd_description: "Mostra lo status degli obbiettivi presenti nel chunk."
        tp_cmd_description: "Teletrasporta il player ad un determinato obbiettivo in una Town."
      treasury:
        add_cmd_description: "Aggiunge una tesoreria a una Town."
        help_cmd_description: "Mostra questa lista."
        open_cmd_description: "Apre la tesoreria di una Town."
        remove_cmd_description: "Rimuove un obbiettivi a una Town."
        show_cmd_description: "Mostra le tesorerie attive."
        tp_cmd_description: "Teletrasporta il player ad una determinata tesoreria in una Town."
    prompt:
      branch:
        create:
          init: "Creazione di un nuovo Ramo iniziata. Segui le istruzioni per continuare oppure digita: cancel, in qualsiasi momento per abbandonare la configurazione."
          id: "Scegli un nome univoco per il Ramo (non deve contenere spazi bianchi). Esempio: test, Test, ramoTest."
          fail_id: "Assicurati che non esista gia' un Ramo con questo nome o di non aver inserito spazi bianchi."
          material: "Scegli un materiale che rappresenterà il Ramo all'interno della GUI."
          fail_material: "Assicurati che esista un item con questo nome o di non aver inserito spazi bianchi."
          description: "Scegli una descrizione dettagliata per il Ramo. Esempio: Questo ramo racchiude tuggi gli obbiettivi del settore economico."
      goal:
        create:
          init: "Creazione di un nuovo Obbiettivo iniziata. Segui le istruzioni per continuare oppure digita: cancel, in qualsiasi momento per abbandonare la configurazione."
          id: "Scegli un nome univoco per l'Obbiettivo (non deve contenere spazi bianchi). Esempio: test, Test, obTest."
          fail_id: "Assicurati che non esista gia' un Obbiettivo con questo nome o di non aver inserito spazi bianchi."
          branch: "Scegli l'ID di un Ramo esistente per inserire in una categoria l'obbiettivo che stai creando. Esempio: Politico, Economico, ..."
          fail_branch: "Assicurati che esista gia' un Ramo con questo nome o di non aver inserito spazi bianchi."
          plot: "Scegli il numero di chunk necessari per l'attivazione di questo obbiettivo. Il numero deve essere maggiore o uguale a 1."
          fail_plot: "Assicurati che il numero di chunk sia maggiore o uguale a 1."
          reqgoals: "Scegli gli obbiettivi necessari per poter attivare questo Obbiettivo."
          reqzenar: "Scegli il numero di Zenar necessari per poter attivare questo Obbiettivo, se non ne necessita inserisci 0.0."
          fail_reqzenar: "Assicurati di aver inserito correttamente la quantita' di Zenar necessari maggiore o uguale a 0.0."
          rewzenar: "Scegli il numero di Zenar da consegnare come ricompensa, se non ne necessita inserisci 0.0."
          fail_rewzenar: "Assicurati di aver inserito correttamente la quantita' di Zenar necessari maggiore o uguale a 0.0."
          rewperms: "Scegli le permissions da assegnare una volta attivato l'Obbiettivo. Se non ne necessita digitare: skip. Esempio: forgotten.obbiettivi.help"
          rewmulti: "Scegli il nome di un plugin abilitato da FWObbiettivi come moltiplicatore di guadagno. Se non ne necessita digitare: skip. Esempio: FWFortress."
          description: "Scegli una descrizione dettagliata per l'Obbiettivo. Esempio: Consente di convertire della cobblestone in pietra."